body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.contenedor {
    width: 90%;
    margin: 0 auto;
}

.filtros {
    margin: 20px 0;
    text-align: center;
}

.filtros input,
.filtros select,
.filtros button {
    padding: 10px;
    margin: 5px;
    font-size: 1em;
}

#map {
    width: 100%;
    height: 600px;
    margin: 20px auto;
    border: 2px solid #333;
    border-radius: 8px;
}
